<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label class="control-label" ><%= t(:style) %> <span class='text-danger'>*</span></label>
        <div class="">
            <input type="text" value="default" name="options[style]" class="form-control" >
        </div>
    </div>
  </div>  
</div>