<% title t(:edit_property) + ": " + @property.name %>

<!-- Horizontal form options -->
<div class="row">
    <div class="col-md-12">

        <!-- Basic layout-->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><%= t(:edit_property) %></h5>
            </div>
            
            <div class="panel-body">
                <%= render 'form', property: @property %>
            </div>

        </div>
        <!-- /basic layout -->
    </div>
</div>
<!-- /horizontal form options -->