<div class="panel panel-flat border-top-xlg border-top-teal-600">
  <div class="panel-heading">
    <h5 class="panel-title"><%= nsmodule.name %></h5>
  </div>
  <div class="panel-body">
    <ul>
      <% category.products.limit(options["number_of_products"]).each do |product| %>
        <li>
            <%= link_to product.name, naturesoft_products.edit_backend_product_path(product.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

  